* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --blue-wifi: hsl(230, 49%, 56%);
  --pink-breakfast: hsl(340, 48%, 52%);
  --orange-dark: hsl(15, 69%, 37%);
  --orange-medium: hsl(15, 74%, 41%);
  --orange: hsl(18, 62%, 47%);
  --orange-light: hsl(22, 72%, 56%);
  --yellow-dark: hsl(42, 83%, 58%);
  --yellow-medium: hsl(44, 84%, 75%);
  --yellow: hsl(45, 100%, 74%);
  --yellow-light: hsl(41, 100%, 93%);
  --black: hsl(33, 15%, 15%);
  --dark-grey: hsl(33, 22%, 20%);
  --grey: hsl(33, 17%, 41%);
  --white: hsl(0, 0%, 100%);
  --fraunces: "Fraunces";
  --dmsans: "DM Sans";
  --dmmono: "DM Mono";
}
/* Body start */
body {
  background-color: hsl(35, 60%, 96%);
  display: grid;
  grid-template-columns: 290px 1fr;
}
/* Logo start */
.logo {
  margin: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(36, 22%, 86%);
}

/* Navigation start */
aside {
  border-right: 1px solid hsl(36, 22%, 86%);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
nav {
  margin-left: 15px;
  margin-right: 15px;
}
nav li {
  font-family: var(--dmsans);
  font-size: 14px;
  display: flex;
  padding: 12px;
  gap: 8px;
}
a {
  text-decoration: none;
  color: var(--dark-grey);
  display: block;
}
nav li:hover {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

/* Weather start */
.weather {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 16px;
  background-color: var(--yellow);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.weather h2 {
  font-family: var(--fraunces);
  font-weight: 400;
  font-size: 32px;
  color: var(--black);
}
.weather p {
  font-family: var(--dmsans);
  font-weight: 400;
  font-size: 10px;
  color: var(--grey);
  letter-spacing: 1px;
}
.weather-text {
  padding: 12px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.weather-img {
  position: absolute;
  top: -25px;
  right: -15px;
}
/* Copyright start */
.copyright {
  margin-left: 15px;
  margin-right: 15px;
  border-top: 1px dashed hsl(36, 22%, 86%);
  gap: 8px;
  display: flex;
  flex-direction: column;
  font-family: var(--dmmono);
  font-size: 10px;
  color: var(--grey);
  padding-top: 16px;
  padding-bottom: 16px;
  letter-spacing: 2px;
}
.bottom {
  margin-top: auto;
}
/* Main top part start */
main {
  margin: 32px;
}
.main-top p {
  font-family: var(--dmmono);
  font-size: 14px;
  color: var(--grey);
  letter-spacing: 1px;
}
.name {
  font-family: var(--fraunces);
  font-size: 40px;
  color: var(--orange);
  font-weight: 400;
}
.bien {
  font-family: var(--fraunces);
  font-size: 40px;
  color: var(--black);
  font-weight: 400;
}
.top-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.main-top {
  display: flex;
  justify-content: space-between;
}
.print {
  font-family: var(--dmsans);
  font-size: 14px;
  background-color: hsl(35, 60%, 96%);
  color: var(--black);
  border-radius: 24px;
  padding: 10px 16px 10px 16px;
  letter-spacing: 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.calendar {
  font-family: var(--dmsans);
  font-size: 14px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 24px;
  padding: 10px 16px 10px 16px;
  letter-spacing: 1px;
}
.top-right {
  display: flex;
  gap: 16px;
  align-items: center;
}
/* Receipt card start */
.receipt {
  width: 370px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 24px;
  background-color: var(--white);
  padding: 24px;
  transition: transform 0.4s ease;
  transform: rotate(-4deg);
  z-index: 1;
}
.receipt-top-left p {
  font-family: var(--dmsans);
  font-weight: 400;
  font-size: 10px;
  color: var(--grey);
  letter-spacing: 1px;
}
.receipt-top-left h4 {
  color: var(--black);
  font-family: var(--fraunces);
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
}
.receipt-top-right {
  font-family: var(--dmsans);
  font-weight: 400;
  font-size: 10px;
  color: var(--grey);
  letter-spacing: 1px;
}
.receipt-top-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.receipt-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px dashed hsl(36, 22%, 86%);
}
.check {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-bottom: 1px dashed hsl(36, 22%, 86%);
}
.checkin p {
  font-family: var(--dmsans);
  font-weight: 400;
  font-size: 10px;
  color: var(--grey);
  letter-spacing: 1px;
}
.checkin h2 {
  font-family: var(--fraunces);
  font-weight: 400;
  font-size: 32px;
  color: var(--black);
}
.checkin .day {
  font-family: var(--dmsans);
  font-size: 12px;
}
.checkin {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0px 16px 0px;
}
.checkout p {
  font-family: var(--dmsans);
  font-weight: 400;
  font-size: 10px;
  color: var(--grey);
  letter-spacing: 1px;
}
.checkout h2 {
  font-family: var(--fraunces);
  font-weight: 400;
  font-size: 32px;
  color: var(--black);
}
.checkout .day {
  font-family: var(--dmsans);
  font-size: 12px;
}
.checkout {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0px 16px 0px;
}
/* rundown start */
.rundown {
  padding: 8px 0px 16px 0px;
}
.item {
  font-family: var(--dmsans);
  font-size: 14px;
  margin-top: 8px;
}
.price {
  font-family: var(--dmsans);
  font-size: 14px;
  margin-top: 8px;
}
.split {
  display: flex;
  justify-content: space-between;
}
.gray {
  color: var(--grey);
  padding-bottom: 16px;
  border-bottom: 1px solid hsl(36, 22%, 40%);
}
/* receipt bottom start */
.receipt-bottom {
  display: flex;
  justify-content: space-between;
}
.receipt-bottom-left p {
  font-family: var(--dmmono);
  font-size: 10px;
  color: var(--grey);
}
.receipt-bottom-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.receipt-bottom-left .big {
  font-size: 12px;
}
.receipt-bottom-right h3 {
  font-family: var(--fraunces);
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
}
.receipt-bottom-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* right card start */
.booking-card {
  display: flex;
}
.orange-top {
  border-top: 1px dashed hsl(36, 22%, 85%);
  padding: 16px 0px 16px 0px;
  display: flex;
  justify-content: space-between;
}
.orange {
  background: radial-gradient(
    circle at top right,
    var(--orange-light),
    var(--orange-dark)
  );
  width: 370px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: -29px;
  transform: rotate(4deg);
  transition: transform 0.4s ease;
  z-index: 1;
}
.orange-welcome {
  font-family: var(--dmsans);
  font-size: 10px;
  color: var(--white);
  letter-spacing: 1px;
}
.orange-start {
  color: var(--yellow-medium);
  font-family: var(--fraunces);
  font-weight: 400;
}
.orange-host {
  color: var(--yellow-light);
  font-size: 38px;
  font-family: var(--fraunces);
  font-weight: 400;
}
.orange-middle {
  display: flex;
  flex-direction: column;
}
.orange-message {
  color: var(--yellow-light);
  font-family: var(--dmsans);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 32px;
}
.orange-bottom p {
  color: var(--yellow-light);
  font-family: var(--dmmono);
  font-size: 12px;
}
.orange-bottom .orange-last {
  font-size: 20px;
  font-family: var(--fraunces);
  font-weight: 400;
  letter-spacing: 1px;
}
.orange-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 100px;
}
.cool-hover:hover .orange {
  transform: rotate(-4deg) translate(100px, 0px);
}
.cool-hover:hover .receipt {
  transform: rotate(4deg) translate(-100px, 0px);
}
.cool-hover {
  margin: auto;
  position: relative;
  min-width: 800px;
}
.back-sun {
  position: absolute;
  width: 200px;
  top: 100px;
  left: 315px;
  z-index: -2;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.cool-hover:hover .back-sun {
  opacity: 1;
}
.hover-text {
  display: flex;
  position: absolute;
  width: 200px;
  top: 450px;
  left: 315px;
  font-family: var(--dmsans);
  color: var(--grey);
  font-size: 12px;
  font-weight: 400;
}
